<html>
  <head>
    {% if title %}
    <title>{{ title }} - Token Of Love</title>
    {% else %}
    <title>Welcome to Token Of Love</title>
    {% endif %}
  </head>
  <body>
    <div>Token Of Love:
      <a href="{{ url_for('index') }}">Home</a>
      {% if g.user.is_admin %}
      <a href="{{ url_for('inventory') }}">Inventory</a>
      <a href="{{ url_for('sales') }}">Sales</a>
      {% endif %}
      {% if g.user.is_authenticated %}
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
