<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $.ajax({
        url: '{{ url_for("autocomplete") }}'
    }).done(function (data) {
        $('#name').autocomplete({
            source: data.names,
            minLength: 2,
	    select: function( event , ui ) {
		$.ajax({
		    url: '{{ url_for("get_item", name="") }}' + ui.item.value
		}).done(function (data) {
		    var obj = JSON.parse(data.item)
		    form = document.forms['inventory_update'];
		    form.elements['name'].value = obj['name'];
		    form.elements['description'].value = obj['description'];
		    form.elements['quantity'].value = obj['quantity'];
		    form.elements['price'].value = obj['price'];
	        });
            }
	});
    });
});
</script>
<h1>Inventory Item</h1>
<form action="" method="post" name="inventory_update">
    {{ form.hidden_tag() }}
    <p>
        Name:<br>
        {{ form.name(size=50) }}<br>
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
        Description (Optional):<br>
        {{ form.description(rows="4", cols="50") }}<br>
        {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
	{% endfor %}<br>
        Quantity:<br>
        {{ form.quantity(size=50) }}<br>
        {% for error in form.quantity.errors %}
            <span style="color: red;">[{{ error }}]</span>
	{% endfor %}<br>
        Price:<br>
        {{ form.price(size=50) }}<br>
        {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>
            <input type="submit" name="update" value="Add or Update">
        </p>
    </p>
</form>
{% endblock %}
